<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="true">
    <appender name="SDTOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} {%thread} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="SDTOUT"/>
    </root>

    <!-- logback.xml是固定名称的 -->
</configuration>